.profile__edit {
    margin: 0;
    display: flex;
    flex-direction: row;
    column-gap: 18px;
}

@media screen and (max-width: 1024px) {
    .profile__edit {
        justify-content: center;
        transform: translate(36px, 0);
        margin-right: 37px;
    }
}